* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/*-------------------------------------*/

input{
    border-radius: 4px;
    width: 90%;
}

h1{
    text-align: center;
}
a{
    text-decoration: none;

}

a.active{
    text-decoration: underline;
    font-weight: bold;
    background-color: orangered;
    border-radius: 20%;


}
.wrapper__main_pagination{
    /*border: 1px solid red;*/
    display: inline-block;
    color: black;


}
.warning{
    color: orangered;
}

.wrapper__main{
    display: grid;
    justify-content: center;
    border: 3px solid green;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}
.form-block-question{
    text-align: left;
    display: grid;
    grid-template-columns: minmax(400px,800px);
    justify-content: center;

    border: 3px solid blue;
    border-radius: 10px;
    width: 100%;
}
.form__topic, .form__question{
    text-align: center;
    padding: 10px;

}

.form-block-question{
    text-align: left;
    background-color: aliceblue;
}
.form__header{
    text-align: center;
}
.form__answer{
    display: grid;
}
.form__button{
    display: block;
    margin: 0 auto;
}
.form__questions{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.form__question_item{
    border: 2px solid gray;
    border-radius: 4px;
    background-color: aliceblue;
    margin: 10px 10px 10px 10px;
}

/*--------------------------------------*/

.form__button{
    padding: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}